.footer {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #2B2B2B;
    color: #f7f7f7;
}

.foot-title{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.foot-sec1, .foot-sec2, .foot-sec3{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: 10px;
} 

.foot-body{
    width: 60%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-end{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-copy{
    width: 100%;
    height: 50px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3{
    font-size: 15px;
    font-weight: lighter;
}

.foot-copy p{
    color: #fff;
    margin: 0;
}

.footer ion-icon{
    color: #fff;
    font-size: 2rem;
    margin: 10px;
}
h4 a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

h4 a:hover{
    color: #ffc90e;
    border-bottom: #ffc90e 1px solid;
}

.barra{
    padding: 5px;
}

@media screen and (max-width: 920px){
    .footer{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
        
    }

    .footer h3{
        display: none;
    }

    .foot-body, .foot-title, .foot-end{
        width: 100%;
        height: auto;
        padding: 0;
    }

    .foot-body{
        flex-direction: column;
    }
}

@media screen and (max-width: 580px){
    .foot-copy a{
        display: none;
    }
    .barra{
        display: none;
    }
}