@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@200&family=Noto+Sans&family=Noto+Sans+JP:wght@100&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.fundo {
  width: auto;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0)),
    url(../img/banners/fundomin.png);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  outline: 0;
}

.navbar-toggler-icon {
  color: #ffc90e;
}

h5 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #ffc90e;
}

h4 {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.box {
  display: flex;
  text-align: right !important;
  justify-content: right !important;
}

.nav-link {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 980px) {
  .navbar-nav {
    flex-wrap: wrap;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  text-align: right;
  color: #f7f7f7;
  margin-left: 20px;
}

.bemvindo {
  color: #ffc90e;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25vh;
}

@media screen and (max-height: 400px) {
  .bemvindo {
    margin-top: 10vh;
  }

  .textin h4 {
    display: none;
  }

  .fundo {
    height: 110vh;
  }
}

.textin {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
}

.botao {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.botao-primary {
  color: #fff;
  background-color: transparent;
  border: #ffc90e 2px solid;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}

.botao-primary:hover {
  background-color: #ffc90e;
  color: #fff;
  border: #ffc90e 2px solid;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  border-color: #ffc90e;
}

/* MENU */

/* Navigation bar + header style */

header {
  background-color: transparent;
}

header .logo img {
  max-width: 100px;
}

header.sticky {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-200%);
  transition: 0.2s;
}

body.scroll header.sticky {
  transform: translateY(0);
}

.nav-wrapper {
  max-width: 1200px;
  background: transparent;
  margin: 0 auto;
  /* position: relative; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

nav.nav-wrapper ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
  margin-top: 20px;
}

nav.nav-wrapper ul li a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}

nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #ffc90e;
  color: #ffc90e;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  margin-top: 5px;
}

/* FIM DO MENU */

/* CARD BONITO */
/* nada bonito por enquanto */
/* CARD BONITOOO FIM */

/* card feio */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60vh;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  border-bottom: #000000 solid 2px;
}

.card {
  display: flex;
  margin: 30px;
  width: 600px;
  height: 400px;
  border: none;
  background-color: transparent;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.card img {
  width: 600px;
  height: 330px;
  border-radius: 5px;
}

@media screen and (max-width: 850px) {
  .card img {
    width: 100%;
    height: auto;
  }

  .card {
    width: 80%;
    height: auto;
  }
}

.btn-primary {
  margin-top: 15px;
  color: #000000;
  background-color: #ffc90e;
  border: #ffc90e 2px solid;
  box-shadow: none;
}

#buttonmenu {
  margin-top: 0px;
  color: #fff;
  background-color: #ffc90e;
  border: #ffc90e 2px solid;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
}

.btn-primary:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: none;
  outline: none;
  /* color: #31241e; */
}

.btn-primary:focus {
  outline: none;
  background-color: #ffc90e;
  border: #ffc90e 2px solid;
  color: #000000;
  box-shadow: none;
}

/* card feio fim */

/* FOOTER */

footer {
  width: 100%;
  height: 300px;
  background-color: #000000;
  color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

footer h2 {
  position: relative;
  font-weight: 500;
  font-size: 2rem;
}

footer .links {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500px;
}

footer .footer-content .links p a {
  color: #ffc90e;
  letter-spacing: 1px;
  margin: 10px;
  text-decoration: none;
}

footer .foot-icons ion-icon {
  margin: 20px;
  color: #ffc90e;
}

ion-icon {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  outline: none;
}

/* ion-icon:hover{ 
    color: #000000;
  } */

/* FOOTER FIM */
