@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@200&family=Noto+Sans&family=Noto+Sans+JP:wght@100&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.fundo {
  width: auto;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0)),
    url(../img/banners/fundomin.png);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  outline: 0;
}

.navbar-toggler-icon {
  color: #ffc90e;
}

h5 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #ffc90e;
}

h4 {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.box {
  display: flex;
  text-align: right !important;
  justify-content: right !important;
}

.nav-link {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 980px) {
  .navbar-nav {
    flex-wrap: wrap;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  text-align: right;
  color: #f7f7f7;
  margin-left: 20px;
}

/* MENU */

/* Navigation bar + header style */

header {
  background-color: transparent;
}

header .logo img {
  max-width: 100px;
}

header.sticky {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-200%);
  transition: 0.2s;
}

body.scroll header.sticky {
  transform: translateY(0);
}

.nav-wrapper {
  max-width: 1200px;
  background: transparent;
  margin: 0 auto;
  /* position: relative; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

nav.nav-wrapper ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
  margin-top: 20px;
}

nav.nav-wrapper ul li a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}

nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #ffc90e;
  color: #ffc90e;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  margin-top: 5px;
}

/* FIM DO MENU */
/* AQUI AQUI AQUI */

#buttonmenu {
  margin-top: 0px;
  color: #fff;
  background-color: #ffc90e;
  border: #ffc90e 2px solid;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
}

.botao-logar{
  background-color: #ffc90e;
  color: #fff;
  border: #ffc90e 2px solid;
  border-color: #ffc90e; 
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: none;
}

i{
  font-size: 2.5rem;
}

.form-control{
  box-shadow: none !important;
}

.form-control:focus{
  border: #ffc90e 1px solid !important;
}